<div class="header">
  <img src="assets/logo.png" alt="Richbond Logo" class="logo" />
  <div class="header-icons">
    <mat-icon style="color: #0e6af4 !important">notifications_none</mat-icon>

    <!-- Bouton de changement de langue -->
    <button mat-button [matMenuTriggerFor]="languageMenu" class="lang-button">
      <img
        [src]="'assets/' + (currentLanguage === 'fr' ? 'OIP.webp' : 'usa.png')"
        alt="Language"
        class="lang-icon"
      />
      <span>{{ currentLanguage | uppercase }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item (click)="changeLanguage('fr')">
        <img src="assets/OIP.webp" alt="Français" class="lang-option-icon" />
        <span>FR</span>
      </button>
      <button mat-menu-item (click)="changeLanguage('en')">
        <img src="assets/usa.png" alt="English" class="lang-option-icon" />
        <span>EN</span>
      </button>
    </mat-menu>

    <mat-icon style="color: #0e6af4 !important">settings</mat-icon>
  </div>
</div>
<div class="container">
  <div class="example-container">
    <!-- ✅ SIDEBAR NAVIGATION -->
    <div class="sidebar" [class.sidebar-collapsed]="!menuOpen">
      <div class="user-profile" [class.user-profile-collapsed]="!menuOpen">
        <!-- Image dynamique : avatarUrl ou imagePath -->
        <img
          [src]="avatarUrl"
          alt="Avatar"
          width="100"
          height="100"
          style="border-radius: 50%"
        />
        <div class="user-info" [class.user-info-hidden]="!menuOpen">
          <strong>{{ username }}</strong>
          <p>{{ role }}</p>

          <!-- Logo de l'entreprise dans la section utilisateur -->
        </div>
      </div>

      <mat-nav-list [class.nav-list-collapsed]="!menuOpen">
        <a
          mat-list-item
          routerLink="/Dashbord"
          routerLinkActive="active-link"
          [class.nav-item-collapsed]="!menuOpen"
          [matTooltip]="!menuOpen ? ('COMMON.DASHBOARD' | translate) : ''"
          matTooltipPosition="right"
        >
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span matListItemTitle [class.text-hidden]="!menuOpen">{{
            "COMMON.DASHBOARD" | translate
          }}</span>
        </a>

        <!-- <a mat-list-item (click)="userMenuOpen = !userMenuOpen" [class.nav-item-collapsed]="!menuOpen"
           [matTooltip]="!menuOpen ? ('COMMON.USERS' | translate) : ''" matTooltipPosition="right">
          <mat-icon matListItemIcon>people</mat-icon>
          <span matListItemTitle [class.text-hidden]="!menuOpen">{{ 'COMMON.USERS' | translate }}</span>
          <mat-icon style="margin-left:auto;" [class.text-hidden]="!menuOpen">{{ userMenuOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
        </a> -->
        <a
          mat-list-item
          routerLink="/login-history"
          routerLinkActive="active-link"
          [class.nav-item-collapsed]="!menuOpen"
          [matTooltip]="!menuOpen ? ('LOGIN_HISTORY.TITLE' | translate) : ''"
          matTooltipPosition="right"
        >
          <mat-icon matListItemIcon>history</mat-icon>
          <span matListItemTitle [class.text-hidden]="!menuOpen">{{
            "LOGIN_HISTORY.TITLE" | translate
          }}</span>
        </a>
        <a
          mat-list-item
          routerLink="/users"
          routerLinkActive="active-link"
          [class.nav-item-collapsed]="!menuOpen"
          [matTooltip]="!menuOpen ? 'Tous les utilisateurs' : ''"
          matTooltipPosition="right"
        >
          <mat-icon matListItemIcon>group</mat-icon>
          <span matListItemTitle [class.text-hidden]="!menuOpen"
            >Tous les utilisateurs</span
          >
        </a>

        <a
          mat-list-item
          routerLink="/merchendiseur"
          routerLinkActive="active-link"
          [class.nav-item-collapsed]="!menuOpen"
          [matTooltip]="!menuOpen ? ('COMMON.MERCHANDISERS' | translate) : ''"
          matTooltipPosition="right"
        >
          <mat-icon matListItemIcon>storefront</mat-icon>
          <span matListItemTitle [class.text-hidden]="!menuOpen">{{
            "COMMON.MERCHANDISERS" | translate
          }}</span>
        </a>

        <a
          mat-list-item
          routerLink="/superviseur"
          routerLinkActive="active-link"
          [class.nav-item-collapsed]="!menuOpen"
          [matTooltip]="!menuOpen ? ('COMMON.SUPERVISORS' | translate) : ''"
          matTooltipPosition="right"
        >
          <mat-icon matListItemIcon>supervisor_account</mat-icon>
          <span matListItemTitle [class.text-hidden]="!menuOpen">{{
            "COMMON.SUPERVISORS" | translate
          }}</span>
        </a>

        <a
          mat-list-item
          routerLink="/magasins"
          routerLinkActive="active-link"
          [class.nav-item-collapsed]="!menuOpen"
          [matTooltip]="!menuOpen ? ('COMMON.STORES' | translate) : ''"
          matTooltipPosition="right"
        >
          <mat-icon matListItemIcon>store</mat-icon>
          <span matListItemTitle [class.text-hidden]="!menuOpen">{{
            "COMMON.STORES" | translate
          }}</span>
        </a>

        <a
          mat-list-item
          routerLink="/planification"
          routerLinkActive="active-link"
          [class.nav-item-collapsed]="!menuOpen"
          [matTooltip]="!menuOpen ? ('COMMON.PLANNING' | translate) : ''"
          matTooltipPosition="right"
        >
          <mat-icon matListItemIcon>event_note</mat-icon>
          <span matListItemTitle [class.text-hidden]="!menuOpen">{{
            "COMMON.PLANNING" | translate
          }}</span>
        </a>

        <a
          mat-list-item
          routerLink="/gestion-visites"
          routerLinkActive="active-link"
          [class.nav-item-collapsed]="!menuOpen"
          [matTooltip]="!menuOpen ? ('COMMON.VISIT' | translate) : ''"
          matTooltipPosition="right"
        >
          <mat-icon matListItemIcon>location_on</mat-icon>
          <span matListItemTitle [class.text-hidden]="!menuOpen">{{
            "COMMON.VISIT" | translate
          }}</span>
        </a>

        <a
          mat-list-item
          routerLink="/Produit"
          routerLinkActive="active-link"
          [class.nav-item-collapsed]="!menuOpen"
          [matTooltip]="!menuOpen ? ('COMMON.PRODUCTS' | translate) : ''"
          matTooltipPosition="right"
        >
          <mat-icon matListItemIcon>inventory</mat-icon>
          <span matListItemTitle [class.text-hidden]="!menuOpen">{{
            "COMMON.PRODUCTS" | translate
          }}</span>
        </a>

        <a
          mat-list-item
          routerLink="/parametre"
          routerLinkActive="active-link"
          [class.nav-item-collapsed]="!menuOpen"
          [matTooltip]="!menuOpen ? ('COMMON.SETTINGS' | translate) : ''"
          matTooltipPosition="right"
        >
          <mat-icon matListItemIcon>settings</mat-icon>
          <span matListItemTitle [class.text-hidden]="!menuOpen">{{
            "COMMON.SETTINGS" | translate
          }}</span>
        </a>

        <a
          mat-list-item
          routerLink="/help"
          routerLinkActive="active-link"
          [class.nav-item-collapsed]="!menuOpen"
          [matTooltip]="!menuOpen ? ('COMMON.HELP' | translate) : ''"
          matTooltipPosition="right"
        >
          <mat-icon matListItemIcon>help_outline</mat-icon>
          <span matListItemTitle [class.text-hidden]="!menuOpen">{{
            "COMMON.HELP" | translate
          }}</span>
        </a>
        <a
          mat-list-item
          (click)="openLogoutDialog()"
          [class.nav-item-collapsed]="!menuOpen"
          [matTooltip]="!menuOpen ? ('AUTH.LOGOUT' | translate) : ''"
          matTooltipPosition="right"
        >
          <mat-icon matListItemIcon style="color: #ff0022">logout</mat-icon>
          <span
            matListItemTitle
            style="color: #ff0022"
            [class.text-hidden]="!menuOpen"
            >{{ "AUTH.LOGOUT" | translate }}</span
          >
        </a>
      </mat-nav-list>
    </div>

    <div class="content">
      <div class="page-header">
        <div class="page-header-left">
          <button mat-icon-button (click)="toggleMenu()" class="menu-toggle">
            <mat-icon *ngIf="!menuOpen" style="color: #333; margin-bottom: 1px"
              >keyboard_arrow_left</mat-icon
            >
            <mat-icon *ngIf="menuOpen" style="color: #333; margin-bottom: 1px"
              >keyboard_arrow_right</mat-icon
            >
          </button>
          <h1>Paramètres</h1>
        </div>
      </div>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Paramètres</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <!-- Affiche le formulaire de modification du profil si showProfile est vrai -->
          <section *ngIf="showProfile" class="profile-section">
            <app-profil></app-profil>
            <div style="text-align: center; margin-top: 16px">
              <button
                mat-raised-button
                style="
                  min-width: 160px;
                  max-width: 220px;
                  width: 60%;
                  background: #002b7f !important;
                  color: #fff !important;
                  border-radius: 20px !important;
                  font-weight: bold;
                  font-size: 1rem;
                  margin-top: 18px;
                  display: flex;
                  justify-content: center;
                  border-radius: 10%;
                "
                (click)="showProfile = false"
              >
                Fermer
              </button>
            </div>
            <mat-divider></mat-divider>
          </section>

          <!-- Sinon, affiche la liste des paramètres -->
          <section class="settings-section" *ngIf="!showProfile">
            <h2><mat-icon>person</mat-icon> Profil Utilisateur</h2>
            <mat-list>
              <mat-list-item (click)="editProfile()">
                <mat-icon matListItemIcon color="primary"
                  >account_circle</mat-icon
                >
                <div matListItemTitle>Modifier le profil</div>
                <mat-icon matListItemMeta>chevron_right</mat-icon>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item (click)="changePassword()">
                <mat-icon matListItemIcon color="primary">lock</mat-icon>
                <div matListItemTitle>Changer le mot de passe</div>
                <mat-icon matListItemMeta>chevron_right</mat-icon>
              </mat-list-item>
            </mat-list>
          </section>

          <section class="settings-section">
            <h2><mat-icon>notifications</mat-icon> Notifications</h2>
            <mat-list>
              <mat-list-item>
                <mat-icon matListItemIcon color="primary">email</mat-icon>
                <div matListItemTitle>Notifications par email</div>
                <mat-slide-toggle
                  color="primary"
                  [(ngModel)]="emailNotifications"
                ></mat-slide-toggle>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon matListItemIcon color="primary"
                  >notifications_active</mat-icon
                >
                <div matListItemTitle>Notifications push</div>
                <mat-slide-toggle
                  color="primary"
                  [(ngModel)]="pushNotifications"
                ></mat-slide-toggle>
              </mat-list-item>
            </mat-list>
          </section>

          <!-- Section Apparence -->
          <section class="settings-section">
            <h2><mat-icon>palette</mat-icon> Apparence</h2>
            <mat-form-field appearance="outline">
              <mat-label>Thème de l'application</mat-label>
              <mat-select [(ngModel)]="selectedTheme">
                <mat-option value="light">
                  <mat-icon>light_mode</mat-icon> Mode clair
                </mat-option>
                <mat-option value="dark">
                  <mat-icon>dark_mode</mat-icon> Mode sombre
                </mat-option>
                <mat-option value="system">
                  <mat-icon>computer</mat-icon> Système
                </mat-option>
              </mat-select>
            </mat-form-field>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
